<div class="chat">
  <ChatHeader />
  <div class="chat-history">
    <ul class="messages">
      @foreach(var message in messages)
      {
        <Message
          Direction="@message.Direction"
          From="@message.From"
          Status="@message.Status"
          Text="@message.Text"
          Timestamp="@message.Timestamp" />
      }
      <li class="typing">
        <span class="typing-icon-1 fa fa-circle"></span>
        <span class="typing-icon-2 fa fa-circle"></span>
        <span class="typing-icon-3 fa fa-circle"></span>
      </li>
    </ul>
  </div>
  <ChatFooter />
</div>

@code {
    private Message[] messages = new []
    {
      new Message
      {
        From = "Olia",
        Direction = "outgoing",
        Status = "online",
        Text = "Hi Vincent, how are you? How is the project coming along?",
        Timestamp = "10:10 AM, Today"
      },
      new Message
      {
        From = "Vincent",
        Direction = "incoming",
        Status = "online",
        Text = "Are we meeting today? Project has been already finished and I have results to show you.",
        Timestamp = "10:11 AM, Today"
      }
    };

    public class Message
    {
        public string From { get; set; }

        public string Direction { get; set; }

        public string Status { get; set; }

        public string Text { get; set; }

        public string Timestamp { get; set; }
    }
}
