<div class="dialog">
  <header>
    <h1>Sign Up</h1>
    <p>Please fill in this form to create an account!</p>
  </header>

  <EditForm Model="@model" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <label>
      <InputText
        type="text"
        placeholder="Name"
        @bind-Value="@model.Name"
      />
    </label>

    <label>
      <InputText
        type="email"
        placeholder="Email"
        @bind-Value="@model.Email"
      />
    </label>

    <label>
      <InputText
        type="password"
        placeholder="Password"
        @bind-Value="@model.Password"
      />
    </label>

    <label>
      <InputCheckbox
        @bind-Value="@model.Accept"
      />
      I accept the Terms of Use and Privacy Policy.
    </label>

    <button type="submit">Sign Up</button>
  </EditForm>

  <footer>
    <p>
      Already have an account?
      Sign in <a href="javascript:void(0);" @onclick="ClickBack">here.</a>
    </p>
  </footer>
</div>

@code {
    private readonly SignUpModel model = new SignUpModel();

    [Parameter]
    public EventCallback ClickBack { get; set; }

    [Parameter]
    public EventCallback<SignUpModel> HandleSignup { get; set; }

    private async Task HandleValidSubmit()
    {
        if (HandleSignup.HasDelegate)
        {
            await HandleSignup.InvokeAsync(model);
        }
    }
}